<Directory {{ wp_docroot }}>
	Options -Indexes +FollowSymLinks
	AllowOverride None

	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^meetup/(.*)$ /event/$1 [L,R=301]
	RewriteRule ^meetups /events/ [L,R=301]
	RewriteRule ^telko-mitschnitte(/.*)?$ /talk-mitschnitte$1 [L,R=301]
	RewriteRule ^talk-mitschnitte/([0-9]+)/tag/([0-9]+)$ /talk-mitschnitte/$1/-/$2 [L,R=301]
	RewriteRule ^talk-mitschnitte/tag/([0-9]+)$ /talk-mitschnitte/-/-/$1 [L,R=301]
	RewriteRule ^talk-mitschnitte/([0-9]+)/category/([0-9]+)$ /talk-mitschnitte/$1/$2 [L,R=301]
	RewriteRule ^talk-mitschnitte/category/([0-9]+)$ /talk-mitschnitte/-/$1 [L,R=301]
	RewriteRule ^alle-news/([0-9]+) /news/$1 [L,R=301]
	RewriteRule ^search/ - [L,G]
	RewriteRule ^medien/ - [L,G]
	RewriteRule ^api/ /api.php [L]
	RewriteRule ^schein/?$ /kampagne-scheinselbststaendigkeit/ [R=301,L]
	RewriteRule ^index\.php$ - [L]

	RewriteRule ^theme-asset-[0-9a-f]+/(.*)$ /wp-content/themes/vgsd2/assets/$1 [NC,L]
	RewriteCond {{ wp_docroot }}/wp-content/uploads/resized/$1/$2/$3 -f
	RewriteRule ^img/([0-9]*x[0-9]*x[1-3]-[a-z][a-z]?)/[0-9a-f]+/(media|asset)/(.*\.(jpg|webp|png))$ /wp-content/uploads/resized/$1/$2/$3 [NC,L]
	RewriteCond {{ wp_docroot }}/wp-content/uploads/resized/$1/$2/$3 !-f
	RewriteRule ^img/([0-9]*x[0-9]*x[1-3]-[a-z][a-z]?)/[0-9a-f]+/(media|asset)/(.*\.(jpg|webp|png))$ /api.php [NC,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !\.(png|jpeg|gif|jpg|webp|svg|ico|js|css)$ [NC]
	RewriteRule . /index.php [L]
	
	require all granted
	<Files ~ "^(wp\-settings|wp\-activate|wp\-blog\-header|wp\-config|wp\-config\-sample|wp\-cron|wp\-load|wp\-mail|wp\-signup|xmlrpc)\.php$">
	   deny from all
	</Files>
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|webp|woff|woff2|eot|svg|ttf|otf|htm|html|swf)$">
		Header set Cache-Control "max-age=7776000, public"
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-content>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|webp|woff|woff2|eot|svg|ttf|otf|htm|html|swf)$">
		require all granted
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/composer>
	require all denied
</Directory>

<Directory {{ wp_docroot }}/wp-content/plugins>
	php_admin_flag engine on
	AllowOverride All
</Directory>

<Directory {{ wp_docroot }}/wp-includes>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|webp|woff|woff2|eot|svg|ttf|otf|htm|html|swf)$">
		require all granted
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-content/uploads>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|webp|woff|woff2|eot|svg|ttf|otf|htm|html|pdf|doc|docx|xls|xlsx|tiff|zip|gz|tar|bz|bz2|mp3|mp4)$">
		require all granted
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-admin/includes>
	require all denied
</Directory>