---

- include_role: 
    name: deploy-init
    tasks_from: deploy-begin.yml

- name: create state/vault
  file:
    state: directory
    path: "{{ deploy.dir }}/files/state/vault"
    owner: "www-data"
    group: "www-data"
    mode: 0750
    
- name: deploy resources.ini
  template:
    dest: "{{ deployed_path }}/config/resources.ini"
    src: "{{ inventory_dir }}/deploy-config/{{ inventory_hostname }}/resources.ini.j2"
    owner: root
    group: "www-data"
    mode: 0640
  notify:
    - reload apache

- name: onoff.ini
  copy:
    dest: "{{ deploy.dir }}/files/state/onoff.ini"
    content: "application=off"
    force: no
    owner: www-data
    group: www-data
    mode: 0600

- name: setup.ini
  copy:
    dest: "{{ deploy.dir }}/files/state/setup.ini"
    content: ""
    force: no
    owner: www-data
    group: www-data
    mode: 0600

- name: symlink files folders
  file:
    dest: "{{ deployed_path }}/{{ item }}"
    src: "{{ deploy.dir }}/files/{{ item }}"
    state: link
  with_items:
    - "state"

- include_role:
    name: deploy-init
    tasks_from: deploy-end.yml