<Directory {{ wp_docroot }}>
	Options -Indexes +FollowSymLinks
	AllowOverride None

	RewriteEngine on
	RewriteBase /
	RewriteRule ^static\.[a-f0-9]+(.*) $1 [L]
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]

	<Files ~ "^(wp\-settings|wp\-activate|wp\-blog\-header|wp\-config|wp\-config\-sample|wp\-cron|wp\-load|wp\-mail|wp\-signup|xmlrpc)\.php$">
	   require all denied
	</Files>
	
	require all granted
	
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|woff|woff2|eot|svg|ttf|otf|htm|html|swf)$">
		Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-content>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|woff|woff2|eot|svg|ttf|otf|htm|html|pdf|doc|docx|xls|xlsx|tiff|zip|gz|tar|bz|bz2|mp3|mp4)$">
		require all granted
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-includes>
	php_admin_flag engine off
	require all denied
	<FilesMatch "\.(css|txt|ico|xml|js|png|gif|jpeg|jpg|woff|woff2|eot|svg|ttf|otf|htm|html|swf)$">
		require all granted
	</FilesMatch>
</Directory>

<Directory {{ wp_docroot }}/wp-admin/includes>
	require all denied
</Directory>

<Directory /var/www/project/wp-content/themes/weller2015>
	php_admin_flag engine off
	require all granted
</Directory>

<Directory /var/www/project/wp-content/plugins>
	require all denied
</Directory>

<Directory /var/www/project/wp-content/themes/weller2015/parts>
	require all denied
</Directory>

<Directory /var/www/project/wp-content/themes/weller2015/includes>
	require all denied
</Directory>