---

- name: install teachem requirements
  apt:
    state: present
    name:
      - "imagemagick"
      - "ghostscript"
      - "pdftk"

- name: deploy teachem vhost
  template: 
    dest: /etc/apache2/vhosts-include/teachem.conf
    src: templates/teachem.conf.j2
  notify:
    - reload apache

- name: deploy php teachem.ini
  template: 
    dest: /etc/php/{{ php_version }}/{{ item }}/conf.d/90-teachem.ini
    src: templates/teachem.ini.j2
  with_items:
    - apache2
    - cli
  notify:
    - reload apache

- name: create teachem files folders
  file:
    dest: "{{ teachem_docroot }}/files/{{ item }}"
    owner: www-data
    group: www-data
    chmod: 0750
  with_items:
    - "managed"
    - "variation"
    - "oauth"
    - "trash"
    - "tmp"
  when: is_local_dev == False