---

- name: install teachem requirements
  apt:
    state: present
    name:
      - "imagemagick"
      - "ghostscript"
      - "pdftk"

- name: deploy teachem vhost
  template: 
    dest: /etc/apache2/vhosts-include/teachem.conf
    src: templates/teachem.conf.j2
  notify:
    - reload apache

- name: deploy php teachem.ini
  template: 
    dest: /etc/php/{{ php_version }}/{{ item }}/conf.d/90-teachem.ini
    src: templates/teachem.ini.j2
  with_items:
    - apache2
    - cli
  notify:
    - reload apache

- name: create teachem files folders
  file:
    state: directory
    dest: "{{ deploy.dir }}/files/{{ item }}"
    owner: www-data
    group: www-data
    mode: 0750
    recurse: true
  with_items:
    - "files/managed"
    - "files/variation"
    - "files/oauth"
    - "files/trash"
    - "files/tmp"
  when: is_local_dev == False