---

- include_role: 
    name: deploy-init
    tasks_from: deploy-begin.yml

- name: deploy wp-cfg
  template:
    dest: "{{ deployed_path }}/wp-config.php"
    src: "templates/wp-config.php.j2"
    owner: root
    group: "www-data"
    mode: 0750
  notify:
    - reload apache

- name: deploy resources.ini
  template:
    dest: "{{ deployed_path }}/composer/config/resources.ini"
    src: "{{ inventory_dir }}/deploy-config/{{ inventory_hostname }}/resources.ini.j2"
    owner: root
    group: "www-data"
    mode: 0640
  notify:
    - reload apache

- name: symlink files folders
  file:
    dest: "{{ deployed_path }}/{{ item }}"
    src: "{{ deploy.dir }}/files/{{ item }}"
    state: link
  with_items:
    - "wp-content/uploads"
    - "composer/state"

- name: teachem calendars redirect
  template:
    dest: "{{ deployed_path }}/teachem-calendars.php"
    src: templates/teachem-calendars.php.j2
    owner: root
    group: www-data
    mode: 0640

- name: teachem calendars-api redirect
  template:
    dest: "{{ deployed_path }}/teachem-calendars-api.php"
    src: templates/teachem-calendars-api.php.j2
    owner: root
    group: www-data
    mode: 0640

- include_role:
    name: deploy-init
    tasks_from: deploy-end.yml