<?php
require_once 'composer/index.php';

define('DB_NAME', '{{ wp_config.db_name }}');
define('DB_USER', '{{ wp_config.db_user }}');
define('DB_PASSWORD', '{{ wp_config.db_pass }}');
define('DB_HOST', '{{ wp_config.db_host }}');
define('DB_CHARSET', '{{ wp_config.db_charset }}');
define('DB_COLLATE', '{{ wp_config.db_collate|default("") }}');

define('AUTH_KEY',         '{{ wp_config.auth_key }}');
define('SECURE_AUTH_KEY',  '{{ wp_config.secure_auth_key }}');
define('LOGGED_IN_KEY',    '{{ wp_config.logged_in_key }}');
define('NONCE_KEY',        '{{ wp_config.nonce_key }}');
define('AUTH_SALT',        '{{ wp_config.auth_salt }}');
define('SECURE_AUTH_SALT', '{{ wp_config.secure_auth_salt }}');
define('LOGGED_IN_SALT',   '{{ wp_config.logged_in_salt }}');
define('NONCE_SALT',       '{{ wp_config.nonce_salt }}');

define('RECAPTCHA_SITE_KEY', '{{ wp_config.recaptcha_site_key }}');
define('RECAPTCHA_SECRET_KEY', '{{ wp_config.recaptcha_secret_key }}');

define( 'WP_REDIS_HOST', '127.0.0.1' );
define( 'WP_REDIS_PORT', 6380 );
define( 'WP_REDIS_TIMEOUT', 1 );
define( 'WP_REDIS_READ_TIMEOUT', 1 );
define( 'WP_REDIS_DATABASE', 0 );
define( 'WP_REDIS_CLIENT', 'credis' );
define( 'WP_REDIS_MAXTTL', 86400 );

$table_prefix = '{{ wp_config.table_prefix|default("wp_") }}';

define('WP_DEBUG', false);
define('WP_DEBUG_DISPLAY', false);

# no updates, will be deployed
define('WP_AUTO_UPDATE_CORE', false);
define('AUTOMATIC_UPDATER_DISABLED', true);

# no file edit in production
define('DISALLOW_FILE_EDIT', true);

# cron will be run by actual cron
define('DISABLE_WP_CRON', true);

if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', dirname( __FILE__ ) . '/' );
}

require_once ABSPATH . 'wp-settings.php';