---

- include_role: 
    name: deploy-init
    tasks_from: deploy-begin.yml

- name: create file_dirs
  file:
    state: directory
    path: "{{ deploy.dir }}/files/{{ item }}"
    owner: "www-data"
    group: "www-data"
    mode: 0750
  with_items: "{{ deploy.file_dirs|default([]) }}"
    
- name: config dir
  file:
    dest: "{{ deployed_path }}/config"
    owner: root
    group: "www-data"
    mode: 0750
    state: directory
  notify:
    - reload apache
    
- name: config.php
  template:
    dest: "{{ deployed_path }}/config/config.php"
    src: "templates/config.php.j2"
    owner: root
    group: "www-data"
    mode: 0640
  notify:
    - reload apache

- name: symlink files folders
  file:
    dest: "{{ deployed_path }}/{{ item }}"
    src: "{{ deploy.dir }}/files/{{ item }}"
    state: link
  with_items: "{{ deploy.file_dirs|default([]) }}"

- include_role:
    name: deploy-init
    tasks_from: deploy-end.yml