<?xml version="1.0" encoding="UTF-8"?>
<config>
	<kreuzberg>
		<password>{{ pcs_pass_hash }}</password>
	</kreuzberg>
	<schoeneberg>
		<password>{{ pcs_pass_hash }}</password>
	</schoeneberg>
</config>